[user]
  name = Mick Pollard
  signingkey = /home/lunix/.ssh/id_ed25519.pub

[includeIf "gitdir:~/Code/github.com/"]
  path = ~/.gitconfig-github

[includeIf "gitdir:~/Code/gitlab.com/"]
  path = ~/.gitconfig-gitlab

[color]
  ui = always

[diff]
  wsErrorHighlight = all

[alias]
  lg = "log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
  lgf = "log --name-only"
  st = "status"
  incoming = "!git remote update -p; git log ..@{u}"
  in = "!git remote update -p; git log ..@{u}"
  outgoing = "log @{u}.."
  out = "log @{u}.."
  co = "commit"
  com = "commit -s -S -m"
  pu = !"git fetch origin -v; git fetch upstream -v; git merge upstream/master"
  l1 = "log --pretty=oneline --abbrev-commit"

[push]
  default = simple

[init]
  defaultBranch = main

[core]
  pager =

[pull]
  rebase = false

[gpg]
  format = ssh

[commit]
  gpgsign = true
  signoff = true
