[Desktop Entry]
Categories=Utility;X-SuSE-SyncUtility;
Type=Application
Exec=owncloud
Name=ownCloud desktop
Comment=ownCloud desktop synchronization client
GenericName=Folder Sync
Icon=owncloud
Keywords=ownCloud;syncing;file;sharing;
X-GNOME-Autostart-Delay=3
MimeType=application/vnd.owncloud;
Actions=Settings;Quit;

# Translations
Comment[oc]=ownCloud sincronizacion del client
GenericName[oc]=Dorsièr de Sincronizacion
Name[oc]=ownCloud sincronizacion del client
Comment[ar]=ownCloud زبون مزامنة مكتبي
GenericName[ar]=مزامنة المجلد
Name[ar]=ownCloud زبون مزامنة مكتبي
Comment[bg_BG]=ownCloud клиент за десктоп синхронизация
GenericName[bg_BG]=Синхронизиране на папката
Name[bg_BG]=ownCloud клиент десктоп синхронизация
Comment[ca]=Client de sincronització d'escriptori ownCloud
GenericName[ca]=Sincronització de carpetes
Name[ca]=Client de sincronització d'escriptori ownCloud
Comment[da]=ownCloud skrivebordsklient til synkronisering
GenericName[da]=Mappesynkronisering
Name[da]=ownCloud skrivebordsklient til synk
Comment[de]=ownCloud Desktop-Synchronisationsclient
GenericName[de]=Ordner-Synchronisation
Name[de]=ownCloud Desktop-Synchronisationsclient
Comment[ja_JP]=ownCloud デスクトップ同期クライアント
GenericName[ja_JP]=フォルダー同期
Name[ja_JP]=ownCloud デスクトップ同期クライアント
Comment[el]=ownCloud συγχρονισμός επιφάνειας εργασίας πελάτη
GenericName[el]=Συγχρονισμός φακέλου
Name[el]=ownCloud συγχρονισμός επιφάνειας εργασίας πελάτη
Comment[en_GB]=ownCloud desktop synchronisation client
GenericName[en_GB]=Folder Sync
Name[en_GB]=ownCloud desktop sync client 
Comment[es]=ownCloud cliente de sincronización de escritorio
GenericName[es]=Sincronización de carpeta
Name[es]=ownCloud cliente de sincronización de escritorio
Comment[de_DE]=ownCloud Desktop-Synchronisationsclient
GenericName[de_DE]=Ordner-Synchronisation
Name[de_DE]=ownCloud Desktop-Synchronisationsclient
Comment[eu]=ownCloud mahaigaineko sinkronizazio bezeroa
GenericName[eu]=Karpetaren sinkronizazioa
Name[eu]=ownCloud mahaigaineko sinkronizazio bezeroa
GenericName[fa]=همسان سازی پوشه‌ها
Name[fa]=owncloud نسخه‌ی همسان سازی مشتری
Comment[fr]=Client de synchronisation ownCloud
GenericName[fr]=Synchronisation de dossier
Name[fr]=Client de synchronisation ownCloud
Comment[gl]=ownCloud cliente de sincronización para escritorio
GenericName[gl]=Sincronizar Cartafol
Name[gl]=ownCloud cliente de sincronización para escritorio
Comment[he]=ownCloud לקוח סנכון שולחן עבודה
GenericName[he]=סנכון תיקייה
Name[he]=ownCloud לקוח סנכרון שולחן עבודה 
Comment[ia]=ownCloud cliente de synchronisation pro scriptorio
GenericName[ia]=Synchronisar Dossier 
Name[ia]=ownCloud cliente de synchronisation pro scriptorio
Comment[id]=Klien sinkronisasi desktop ownCloud
GenericName[id]=Folder Sync
Name[id]=Klien sync desktop ownCloud
Comment[is]=ownCloud skjáborðsforrit samstillingar
GenericName[is]=Samstilling möppu
Name[is]=ownCloud skjáborðsforrit samstillingar
Comment[it]=Client di sincronizzazione del desktop di ownCloud
GenericName[it]=Sincronizzazione cartella
Name[it]=Client di sincronizzazione del desktop di ownCloud
Comment[ko]=ownCloud 데스크톱 동기화 클라이언트
GenericName[ko]=폴더 동기화
Name[ko]=ownCloud 데스크톱 동기화 클라이언트
Comment[lo]=ownCloud ການປະສານຂໍ້ມູນຄອມພິວເຕີລູກຂ່າຍ
GenericName[lo]=ໂຟນເດີຊິງ
Name[lo]=ownCloud ຊິງຄອມພິວເຕີລູກຂ່າຍ 
Comment[mk]=ownCloud десктор клиент за синхронизација
GenericName[mk]=Папка за синхронизација
Name[mk]=ownCloud десктор клиент за синхронизација
Comment[hu_HU]=ownCloud asztali szinkronizációs kliens
GenericName[hu_HU]=Mappaszinkronizálás
Name[hu_HU]=ownCloud asztali szinkronizációs kliens
Comment[af_ZA]=ownCloud werkskermsinchroniseerkliënt
GenericName[af_ZA]=Vouersinchronisering
Name[af_ZA]=ownCloud werkskermsinchroniseerkliënt
Comment[nl]=ownCloud desktop synchronisatie client
GenericName[nl]=Mappen sync
Name[nl]=ownCloud desktop sync client 
Comment[et_EE]=ownCloud sünkroonimise klient töölauale
GenericName[et_EE]=Kaustade sünkroonimine
Name[et_EE]=ownCloud sünkroonimise klient töölauale
Comment[pl]=ownCloud klient synchronizacji dla komputerów stacjonarnych
GenericName[pl]=Folder Synchronizacji
Name[pl]=ownCloud klient synchronizacji dla komputerów stacjonarnych
Comment[pt_BR]=ownCloud cliente de sincronização do computador
GenericName[pt_BR]=Sincronização de Pasta
Name[pt_BR]=ownCloud cliente de sincronização de desktop
Comment[cs_CZ]=ownCloud počítačový synchronizační klient
GenericName[cs_CZ]=Synchronizace adresáře
Name[cs_CZ]=ownCloud počítačový synchronizační klient
Comment[ru]=Настольный клиент синхронизации ownCloud 
GenericName[ru]=Синхронизация каталогов
Name[ru]=Настольный клиент синхронизации ownCloud
Comment[sl]=ownCloud ‒ Program za usklajevanje datotek z namizjem
GenericName[sl]=Usklajevanje map
Name[sl]=ownCloud ‒ Program za usklajevanje datotek z namizjem
Comment[sq]=Klient njëkohësimesh ownCloud për desktop
GenericName[sq]=Njëkohësim Dosjesh
Name[sq]=Klient njëkohësimesh ownCloud për desktop
Comment[fi_FI]=ownCloud työpöytäsynkronointisovellus
GenericName[fi_FI]=Kansion synkronointi
Name[fi_FI]=ownCloud työpöytäsynkronointisovellus
Comment[sv]=ownCloud desktop synkroniseringsklient
GenericName[sv]=Mappsynk
Name[sv]=ownCloud desktop synk-klient
Comment[tr]=ownCloud masaüstü eşitleme istemcisi
GenericName[tr]=Dosya Eşitleme
Name[tr]=ownCloud masaüstü eşitleme istemcisi
Comment[uk]=Настільний клієнт синхронізації ownCloud
GenericName[uk]=Синхронізація теки
Name[uk]=Настільний клієнт синхронізації ownCloud
Comment[ro]=ownCloud client de sincronizare pe desktop
GenericName[ro]=Sincronizare director
Name[ro]=ownCloud client de sincronizare pe desktop
Comment[zh_CN]=ownCloud 桌面同步客户端
GenericName[zh_CN]=文件夹同步
Name[zh_CN]=ownCloud 桌面同步客户端
Comment[zh_HK]=桌面版同步客户端
Comment[zh_TW]=ownCloud 桌面同步客戶端
GenericName[zh_TW]=資料夾同步
Name[zh_TW]=ownCloud 桌面同步客戶端
Comment[es_AR]=Cliente de sincronización para escritorio ownCloud 
GenericName[es_AR]=Sincronización de directorio
Name[es_AR]=Cliente de sincronización para escritorio ownCloud 
Comment[lt_LT]=ownCloud darbalaukio sinchronizavimo programa
GenericName[lt_LT]=Katalogo sinchnorizacija
Name[lt_LT]=ownCloud darbalaukio programa
Comment[th_TH]=ownCloud ประสานข้อมูลด้วยโปรแกรมบนเดสก์ท็อป
GenericName[th_TH]=ประสานข้อมูลโฟลเดอร์
Name[th_TH]= ownCloud ประสานข้อมูลด้วยโปรแกรมบนเดสก์ท็อป
Comment[es_MX]=Cliente de escritorio para  sincronziación de ownCloud
GenericName[es_MX]=Sincronización de Carpetas
Name[es_MX]=Cliente de escritorio para  sincronziación de ownCloud
Comment[nb_NO]=ownCloud skrivebordssynkroniseringsklient
GenericName[nb_NO]=Mappesynkronisering
Name[nb_NO]=ownCloud skrivebordssynkroniseringsklient 
Comment[nn_NO]=ownCloud klient for å synkronisera frå skrivebord
GenericName[nn_NO]=Mappe synkronisering
Name[nn_NO]=ownCloud klient for å synkronisera frå skrivebord
Comment[pt_PT]=ownCloud - Cliente de Sincronização para PC
GenericName[pt_PT]=Sincronizar Pasta
Name[pt_PT]=ownCloud - Cliente de Sincronização para PC
Comment[lb]=ownCloud Desktop Synchronisatioun Client
GenericName[lb]=Dossier Dync
Name[lb]=ownCloud Desktop Sync Client


[Desktop Action Settings]
Exec=owncloud --showsettings
Name=Show ownCloud settings
Icon=owncloud

[Desktop Action Quit]
Exec=owncloud --quit
Name=Quit ownCloud
Icon=owncloud
